<div class="container">
    <div>
        <h2>Modifier un Etudiant :</h2>
    </div>
    <form>
        <div  class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Etudiant</label>
            <input readonly type="text" [(ngModel)]="currentStudent.idStudent" name="idStudent" class="form-control">
        </div>


        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Etudiant</label>
            <input type="text" [(ngModel)]="currentStudent.fullName" name="fullName" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>CIN</label>
            <input type="number" [(ngModel)]="currentStudent.cin" name="cin" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Gender</label>
            <input type="text" [ngModel]="currentStudent.gender" name="gender" class="form-control">
        </div>
       
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Classe</label>
            <select class="form-control form-control-lg" id="idClass" name="idClass" [(ngModel)]="updatedClassId">
                <option *ngFor="let cls of classys" [value]="cls.idClass">

                    {{cls.nomClass}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="updateStudent()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>