<div class="container">
    <!-- <form class="form-inline">//type full name search bar 
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Classe</label>
            <input type="text" class="form-control" [(ngModel)]="fullName" name="nomClass" class="form-control">
            <button type="submit" (click)="rechercherStudents()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
    </form> -->

    <!-- <form class="form-inline"> 
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Etudiant en tapant</label>
            <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
    </form> -->
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Etudiant en tapant :</label>
            <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
        </div>
    </form>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>CIN</th>
                        <th>Gender</th>
                        <th>Classe</th>
                    </tr>
                </thead>
                <!-- <tbody *ngFor="let student of students"> full name search bar-->
                    <!-- <tbody *ngFor="let student of students | searchFilter: searchTerm ">  pipe search filter-->
                        <tbody *ngFor="let student of students | filter:searchTerm ">
                    <tr>
                        <td>{{student.idStudent}}</td>
                        <td>{{student.fullName}}</td>
                        <td>{{student.cin}}</td>
                        <td>{{student.gender}}</td>
                        <td>{{student.classy?.nomClass}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>